<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Foundation for Sites</title>
  <link rel="stylesheet" href="/css/app.css">
</head>

<body class="apps">

  <div class="popup">
    <div class="popup-container popup-apps">
      <span class="popup-indicator"></span>
      <div class="popup-content">
        <h1>DIAMON Wallet</h1>

        <div class="card">
          <a href="" class="list-item w-100">
            <div class="content-group">
              <img src="/assets/imgs/apps/buy.png" alt="">
              <div class="content-group-item">
                <p>Buy DMH on the website</p>
                <span>Visa, Mastercard, Crypto</span>
              </div>
            </div>
            <span class="arrow">
              <img src="/assets/icons/material-symbols/arrow_forward_ios.svg" alt="">
            </span>
          </a>
        </div>
        <div class="card">
          <a href="/views/account/buy.html" class="list-item w-100">
            <div class="content-group">
              <img src="/assets/logo.png" alt="">
              <div class="content-group-item">
                <p>Buy DMH with DIAMON wallet</p>
                <span>NEAR, USDT, USDC</span>
              </div>
            </div>
            <span class="arrow">
              <img src="/assets/icons/material-symbols/arrow_forward_ios.svg" alt="">
            </span>
          </a>
        </div>
        <div class="card">
          <a href="/views/account/referral.html" class="list-item w-100">
            <div class="content-group">
              <img src="/assets/imgs/apps/link.png" alt="">
              <div class="content-group-item">
                <p>Get referral link</p>
                <span>To invite friends</span>
              </div>
            </div>
            <span class="arrow">
              <img src="/assets/icons/material-symbols/arrow_forward_ios.svg" alt="">
            </span>
          </a>
        </div>

      </div>
    </div>
  </div>

  <div class="apps-item">
    <img src="/assets/imgs/apps/apps-1.png" alt="">
    <div class="apps-item-content">
      <div class="d-flex align-items-center">
        <img src="/assets/logo.png" alt="">
        <div class="d-flex flex-column">
          <p>DIAMON Wallet</p>
          <span>diamonwallet.app</span>
        </div>
      </div>
      <button class="btn">Open</button>
    </div>
  </div>

  <div class="apps-item">
    <img src="/assets/imgs/apps/apps-2.png" alt="">
    <div class="apps-item-content">
      <div class="d-flex align-items-center">
        <img src="/assets/imgs/apps/apps-2-logo.png" alt="">
        <div class="d-flex flex-column">
          <p>DMH Pad</p>
          <span>Launch Of Tokens</span>
        </div>
      </div>
      <button class="btn">Open</button>
    </div>
  </div>

  <div class="apps-item">
    <img src="/assets/imgs/apps/apps-3.png" alt="">
    <div class="apps-item-content">
      <div class="d-flex align-items-center">
        <img src="/assets/imgs/apps/apps-3-logo.png" alt="">
        <div class="d-flex flex-column">
          <p>DMH Mint</p>
          <span>Launch Of Collections</span>
        </div>
      </div>
      <button class="btn">Open</button>
    </div>
  </div>

  <div class="card">
    <a href="" class="list-item w-100">
      <div class="content-group">
        <img src="/assets/imgs/apps/app-other.png" alt="">
        <div class="content-group-item">
          <p>Cases Boom</p>
          <span>Instagram boom!</span>
        </div>
      </div>
      <span class="arrow">
        <img src="/assets/icons/material-symbols/arrow_forward_ios.svg" alt="">
      </span>
    </a>
  </div>

  <img class="w-100" src="/assets/imgs/apps/more-apps.png" alt="">

</body>

</html>