<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Foundation for Sites</title>
  <link rel="stylesheet" href="/css/app.css">
  <script type="text/javascript">
    // First we get the viewport height and we multiple it by 1% to get a value for a vh unit
    let vh = window.innerHeight * 0.01;
    // Then we set the value in the --vh custom property to the root of the document
    document.documentElement.style.setProperty('--vh', `${vh}px`);

    // We listen to the resize event
    window.addEventListener('resize', () => {
      // We execute the same script as before
      let vh = window.innerHeight * 0.01;
      document.documentElement.style.setProperty('--vh', `${vh}px`);
    });
  </script>
</head>

<body class="balance">

  <!-- <div class="popup">
    <div class="popup-container">
      <span class="popup-indicator"></span>
      <img src="/assets/logo.png" alt="" class="popup-thumb">
      <div class="popup-content">
        <h1>+0.01 DMH</h1>
        <p>DMH is the center piece of the new<br>
          ecosystem. It i distgributed to early adopters<br>
          and mined passively</p>
      </div>
      <buton class="btn btn-yellow" id="btn-confirm">Claim</buton>
    </div>
  </div> -->

  
  <div class="scrollable">
    <a href="/views/balance/mine.html" class="balance-mine card list-item">
      <div class="content-group">
        <img src="/assets/imgs/mine/level-1.png" alt="">
        <div class="content-group-item">
          <!-- <p>Explorer the MINE</p>
          <span>Join or create your own</span> -->
          <p>Telegram: Contact @tantaile421</p>
          <b><img src="/assets/logo-no-bg.png" alt=""> 0</b>
        </div>
      </div>
      <span class="arrow">
        <img src="/assets/icons/material-symbols/arrow_forward_ios.svg" alt="">
      </span>
    </a>
  
    <div class="balance-status">
      <div class="balance-storage">
        <h2 class="title">In Storage</h2>
        <div class="num">
          <img src="/assets/logo-no-bg.png" alt="">
          0.000000
        </div>
        <div class="d-flex justify-content-center align-items-center">
          <small>DIAMON Balance</small>
          <div class="num num-small">
            <img src="/assets/logo-no-bg.png" alt="">
            0.01
          </div>
        </div>
      </div>
  
      <div class="balance-progress card">
        <div class="d-flex flex-column">
          <div class="progress">
            <span class="progress-indicator"></span>
            <span class="progress-gauge"></span>
          </div>
          <div class="balance-progress-info d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center justify-content-between">
              <img src="/assets/icons/boost-1-1.png" alt="">
              <div class="d-flex justify-content-between flex-column">
                <p>Storage</p>
                <span>2h 0m to fill</span>
                <span>0.005 DMH/hour</span>
              </div>
            </div>
            <button class="btn btn-yellow">Claim</button>
            <!-- <button class="btn">Check NEWS</button> -->
          </div>
        </div>
        <span class="balance-progress-noti">
          Claim DMH from storage to keep mining
        </span>
      </div>
  
    </div>
    <div class="balance-nav card">
      <a href="/views/balance/missions.html" class="balance-nav-item">
        <img src="/assets/icons/nav-1.png" alt="">
        Missions
      </a>
      <a href="/views/balance/boost.html" class="balance-nav-item">
        <img src="/assets/icons/nav-2.png" alt="">
        Boost
      </a>
      <a href="/views/balance/friends.html" class="balance-nav-item">
        <img src="/assets/icons/nav-3.png" alt="">
        Friends
      </a>
      <a href="/views/balance/apps.html" class="balance-nav-item">
        <img src="/assets/icons/nav-4.png" alt="">
        Apps
      </a>
    </div>
  </div>



</body>

</html>