<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Foundation for Sites</title>
  <link rel="stylesheet" href="/css/app.css">
  <script type="module" src="/js/tab.js"></script>
</head>

<body class="balance boost">

  <!-- <div class="popup">
    <div class="popup-container">
      <span class="popup-indicator"></span>
      <div class="popup-content">
        <h1>Metal Storage</h1>
        <p>Better storage holds more DMH and you can claim it less often</p>
        <div class="boost-upgrade">
          <div class="card boost-upgrade-item after">
            <div class="thumb">
              <img src="/assets/icons/storage-upgrade.png" alt="">
            </div>
            <div class="d-flex flex-column align-items-start">
              <small>Level 2</small>
              <p>Metal storage</p>
            </div>
          </div>
          <img class="arrow" src="/assets/icons/material-symbols/arrow_warm_up.svg" alt="">
          <div class="card boost-upgrade-item before">
            <div class="thumb">
              <img src="/assets/icons/storage.png" alt="">
            </div>
            <div class="d-flex flex-column align-items-start">
              <small>Level 1</small>
              <p>Wooden storage</p>
            </div>
          </div>
          <div class="boost-upgrade-value">
            <img src="/assets/logo-no-bg.png" alt="">0.2
          </div>
        </div>
      </div>
      <buton class="btn btn-yellow" id="btn-confirm">Claim</buton>
    </div>
  </div> -->

  <div class="balance-storage">
    <h2 class="title">Your balance</h2>
    <div class="num">
      <img src="/assets/logo-no-bg.png" alt="">
      0.000000
    </div>
    <a href="">How cave works</a>
  </div>
  <div class="d-block card card-space-0">
    <div class="list list-fluid">
      <a href="" class="list-item">
        <div class="content-group">
          <img src="/assets/icons/storage.png" alt="">
          <div class="content-group-item">
            <p>Wooden storage</p>
            <small>Increase the fill time
              to claim less often</small>
            <span><img src="/assets/logo-no-bg.png" alt="">0.2 <i>L1</i></span>
          </div>
        </div>
        <span class="arrow">
          <img src="/assets/icons/material-symbols/arrow_forward_ios.svg" alt="">
        </span>
      </a>
    </div>
  </div>
  <div class="d-block card card-space-0">
    <div class="list list-fluid">
      <a href="" class="list-item">
        <div class="content-group">
          <img src="/assets/icons/boost.png" alt="">
          <div class="content-group-item">
            <p>Fireplace</p>
            <small>Increase passive mining speed</small>
            <span><img src="/assets/logo-no-bg.png" alt="">0.2 <i>L1</i></span>
          </div>
        </div>
        <span class="arrow">
          <img src="/assets/icons/material-symbols/arrow_forward_ios.svg" alt="">
        </span>
      </a>
      <a href="" class="list-item">
        <div class="content-group">
          <img src="/assets/icons/boost.png" alt="">
          <div class="content-group-item">
            <p>Basic Wood</p>
            <small>Boost mining speed by 1.5x...2x...3x times!</small>
            <span><img src="/assets/logo-no-bg.png" alt="">Mission <i>L1</i></span>
          </div>
        </div>
        <span class="arrow">
          <img src="/assets/icons/material-symbols/arrow_forward_ios.svg" alt="">
        </span>
      </a>
    </div>
  </div>

</body>

</html>