<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Foundation for Sites</title>
  <link rel="stylesheet" href="/css/app.css">
  <script type="module" src="/js/tab.js"></script>
  <script type="text/javascript">
    // First we get the viewport height and we multiple it by 1% to get a value for a vh unit
    let vh = window.innerHeight * 0.01;
    // Then we set the value in the --vh custom property to the root of the document
    document.documentElement.style.setProperty('--vh', `${vh}px`);

    // We listen to the resize event
    window.addEventListener('resize', () => {
      // We execute the same script as before
      let vh = window.innerHeight * 0.01;
      document.documentElement.style.setProperty('--vh', `${vh}px`);
    });
  </script>
</head>

<body class="balance friends">
  <!-- <div class="popup">
    <div class="popup-container">
      <span class="popup-indicator"></span>
      <img src="/assets/icons/friends.png" alt="" class="popup-thumb">
      <div class="popup-content">
        <h1>Friendship bonus</h1>
        <p>Friends amplify your power! Earn 20% DMH<br>
          from all your friends‘s income - no limits, no<br>
          boundaries. Let‘s go wild!</p>
      </div>
      <buton class="btn btn-yellow" id="btn-confirm">Get referral link</buton>
    </div>
  </div> -->
  <div class="scrollable">
    <div class="friends-title">
      <h1>0 Friend</h1>
      <span><img src="/assets/logo-no-bg.png" alt="">≈ 0 per hour</span>
      <p>Everytime your friend claims DMH<br>
        you get 20% cashback. And 5%<br>
        everytimetheir referrals claim it</p>
      <a href="">Full guide</a>
    </div>

    <div class="friends-list">
      <h1>Top 100 Friends</h1>
      <div class="d-block card card-space-0">
        <div class="list list-fluid">
          <a href="" class="list-item">
            <div class="content-group">
              <img src="/assets/imgs/avatar.webp" alt="">
              <div class="content-group-item">
                <p>MR Daily</p>
                <span><img src="/assets/logo-no-bg.png" alt="">105.061799</span>
              </div>
            </div>
            <!-- <span class="remind">
            <img src="/assets/icons/boost-1-1.png" alt="">
            Remind
          </span> -->
          </a>
          <a href="" class="list-item">
            <div class="content-group">
              <img src="/assets/imgs/avatar.webp" alt="">
              <div class="content-group-item">
                <p>Khánh Lượng Nguyễn</p>
                <span><img src="/assets/logo-no-bg.png" alt="">11.385695</span>
              </div>
            </div>
            <span class="remind">
              <img src="/assets/icons/boost-1-1.png" alt="">
              Remind
            </span>
          </a>
          <a href="" class="list-item">
            <div class="content-group">
              <img src="/assets/imgs/avatar.webp" alt="">
              <div class="content-group-item">
                <p>MR Daily</p>
                <span><img src="/assets/logo-no-bg.png" alt="">105.061799</span>
              </div>
            </div>
            <!-- <span class="remind">
            <img src="/assets/icons/boost-1-1.png" alt="">
            Remind
          </span> -->
          </a>
          <a href="" class="list-item">
            <div class="content-group">
              <img src="/assets/imgs/avatar.webp" alt="">
              <div class="content-group-item">
                <p>Khánh Lượng Nguyễn</p>
                <span><img src="/assets/logo-no-bg.png" alt="">11.385695</span>
              </div>
            </div>
            <span class="remind">
              <img src="/assets/icons/boost-1-1.png" alt="">
              Remind
            </span>
          </a>
          <a href="" class="list-item">
            <div class="content-group">
              <img src="/assets/imgs/avatar.webp" alt="">
              <div class="content-group-item">
                <p>MR Daily</p>
                <span><img src="/assets/logo-no-bg.png" alt="">105.061799</span>
              </div>
            </div>
            <!-- <span class="remind">
            <img src="/assets/icons/boost-1-1.png" alt="">
            Remind
          </span> -->
          </a>
          <a href="" class="list-item">
            <div class="content-group">
              <img src="/assets/imgs/avatar.webp" alt="">
              <div class="content-group-item">
                <p>Khánh Lượng Nguyễn</p>
                <span><img src="/assets/logo-no-bg.png" alt="">11.385695</span>
              </div>
            </div>
            <span class="remind">
              <img src="/assets/icons/boost-1-1.png" alt="">
              Remind
            </span>
          </a>
          <a href="" class="list-item">
            <div class="content-group">
              <img src="/assets/imgs/avatar.webp" alt="">
              <div class="content-group-item">
                <p>MR Daily</p>
                <span><img src="/assets/logo-no-bg.png" alt="">105.061799</span>
              </div>
            </div>
            <!-- <span class="remind">
            <img src="/assets/icons/boost-1-1.png" alt="">
            Remind
          </span> -->
          </a>
          <a href="" class="list-item">
            <div class="content-group">
              <img src="/assets/imgs/avatar.webp" alt="">
              <div class="content-group-item">
                <p>Khánh Lượng Nguyễn</p>
                <span><img src="/assets/logo-no-bg.png" alt="">11.385695</span>
              </div>
            </div>
            <span class="remind">
              <img src="/assets/icons/boost-1-1.png" alt="">
              Remind
            </span>
          </a>
          <a href="" class="list-item">
            <div class="content-group">
              <img src="/assets/imgs/avatar.webp" alt="">
              <div class="content-group-item">
                <p>MR Daily</p>
                <span><img src="/assets/logo-no-bg.png" alt="">105.061799</span>
              </div>
            </div>
            <!-- <span class="remind">
            <img src="/assets/icons/boost-1-1.png" alt="">
            Remind
          </span> -->
          </a>
          <a href="" class="list-item">
            <div class="content-group">
              <img src="/assets/imgs/avatar.webp" alt="">
              <div class="content-group-item">
                <p>Khánh Lượng Nguyễn</p>
                <span><img src="/assets/logo-no-bg.png" alt="">11.385695</span>
              </div>
            </div>
            <span class="remind">
              <img src="/assets/icons/boost-1-1.png" alt="">
              Remind
            </span>
          </a>
          <a href="" class="list-item">
            <div class="content-group">
              <img src="/assets/imgs/avatar.webp" alt="">
              <div class="content-group-item">
                <p>MR Daily</p>
                <span><img src="/assets/logo-no-bg.png" alt="">105.061799</span>
              </div>
            </div>
            <!-- <span class="remind">
            <img src="/assets/icons/boost-1-1.png" alt="">
            Remind
          </span> -->
          </a>
          <a href="" class="list-item">
            <div class="content-group">
              <img src="/assets/imgs/avatar.webp" alt="">
              <div class="content-group-item">
                <p>Khánh Lượng Nguyễn</p>
                <span><img src="/assets/logo-no-bg.png" alt="">11.385695</span>
              </div>
            </div>
            <span class="remind">
              <img src="/assets/icons/boost-1-1.png" alt="">
              Remind
            </span>
          </a>
          <a href="" class="list-item">
            <div class="content-group">
              <img src="/assets/imgs/avatar.webp" alt="">
              <div class="content-group-item">
                <p>MR Daily</p>
                <span><img src="/assets/logo-no-bg.png" alt="">105.061799</span>
              </div>
            </div>
            <!-- <span class="remind">
            <img src="/assets/icons/boost-1-1.png" alt="">
            Remind
          </span> -->
          </a>
          <a href="" class="list-item">
            <div class="content-group">
              <img src="/assets/imgs/avatar.webp" alt="">
              <div class="content-group-item">
                <p>Khánh Lượng Nguyễn</p>
                <span><img src="/assets/logo-no-bg.png" alt="">11.385695</span>
              </div>
            </div>
            <span class="remind">
              <img src="/assets/icons/boost-1-1.png" alt="">
              Remind
            </span>
          </a>
          <a href="" class="list-item">
            <div class="content-group">
              <img src="/assets/imgs/avatar.webp" alt="">
              <div class="content-group-item">
                <p>MR Daily</p>
                <span><img src="/assets/logo-no-bg.png" alt="">105.061799</span>
              </div>
            </div>
            <!-- <span class="remind">
            <img src="/assets/icons/boost-1-1.png" alt="">
            Remind
          </span> -->
          </a>
          <a href="" class="list-item">
            <div class="content-group">
              <img src="/assets/imgs/avatar.webp" alt="">
              <div class="content-group-item">
                <p>Khánh Lượng Nguyễn</p>
                <span><img src="/assets/logo-no-bg.png" alt="">11.385695</span>
              </div>
            </div>
            <span class="remind">
              <img src="/assets/icons/boost-1-1.png" alt="">
              Remind
            </span>
          </a>
        </div>
      </div>
    </div>
    <div class="friends-invite">
      <button class="btn">Invite a Friend</button>
    </div>
  </div>
</body>

</html>