<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Foundation for Sites</title>
  <link rel="stylesheet" href="/css/app.css">
  <script type="module" src="/js/tab.js"></script>
  <script type="text/javascript">
    // First we get the viewport height and we multiple it by 1% to get a value for a vh unit
    let vh = window.innerHeight * 0.01;
    // Then we set the value in the --vh custom property to the root of the document
    document.documentElement.style.setProperty('--vh', `${vh}px`);

    // We listen to the resize event
    window.addEventListener('resize', () => {
      // We execute the same script as before
      let vh = window.innerHeight * 0.01;
      document.documentElement.style.setProperty('--vh', `${vh}px`);
    });
  </script>
</head>

<body class="balance missions">

  <!-- <div class="popup">
    <div class="popup-container">
      <span class="popup-indicator"></span>
      <div class="popup-content">
        <h1>Subscribe on DIAMON Team</h1>
        <p>Every subscription +1 Gas Free.<br>
          To to open Twitter account</p>
        <div class="subscription">
          <div class="subscription-item active">
            <img src="/assets/imgs/subscription.png" alt="">
            <p>Executive Officer</p>
          </div>
          <div class="subscription-item">
            <img src="/assets/imgs/subscription.png" alt="">
            <p>Executive Officer</p>
          </div>
          <div class="subscription-item">
            <img src="/assets/imgs/subscription.png" alt="">
            <p>Executive Officer</p>
          </div>
          <div class="subscription-item">
            <img src="/assets/imgs/subscription.png" alt="">
            <p>Executive Officer</p>
          </div>
          <div class="subscription-item">
            <img src="/assets/imgs/subscription.png" alt="">
            <p>Executive Officer</p>
          </div>
          <div class="subscription-item">
            <img src="/assets/imgs/subscription.png" alt="">
            <p>Executive Officer</p>
          </div>
        </div>
      </div>
      <buton class="btn btn-yellow" id="btn-confirm">Got it</buton>
    </div>
  </div> -->



  <div class="tab">
    <div class="tab-nav">
      <button class="tab-nav-item active" id="tab-1">DMH</button>
      <button class="tab-nav-item" id="tab-2">Gas Free <span class="highlight">7</span></button>
    </div>
    <div class="tab-content">
      <div id="tab-1-content" class="tab-content-item active">
        <div class="missions-title">
          <img src="/assets/logo.png" alt="">
          <h1>3 missions available</h1>
          <p>Complete the missions to get DMH</p>
        </div>
        <div class="d-block card card-space-0">
          <div class="list list-fluid">
            <a href="" class="list-item">
              <div class="content-group">
                <img src="/assets/imgs/mission-1.png" alt="">
                <div class="content-group-item">
                  <p>Backup your seed phrase</p>
                  <span><img src="/assets/logo-no-bg.png" alt="">0.1 DMH</span>
                </div>
              </div>
            </a>
            <a href="" class="list-item">
              <div class="content-group">
                <img src="/assets/imgs/mission-2.png" alt="">
                <div class="content-group-item">
                  <p>Make a transfer</p>
                  <span><img src="/assets/logo-no-bg.png" alt="">0.1 DMH</span>
                </div>
              </div>
            </a>
            <a href="" class="list-item">
              <div class="content-group">
                <img src="/assets/imgs/mission-3.png" alt="">
                <div class="content-group-item">
                  <p>SWAP DMH => ???</p>
                  <span><img src="/assets/logo-no-bg.png" alt="">0.5 DMH</span>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div id="tab-2-content" class="tab-content-item">
        <div class="missions-title">
          <img src="/assets/icons/missions.png" alt="">
          <h1>3/10 Gas-Free</h1>
          <p>Each DMH claim is a transaction on the<br>
            Diamon Hand blockchain. We will cover your<br>
            gas price as long as you have gas-free<br>
            transactions</p>
            <a href="">Learn more</a>
        </div>
        <div class="d-block card card-space-0">
          <div class="list list-fluid">
            <a href="" class="list-item">
              <div class="content-group">
                <img src="/assets/icons/missions.png" alt="">
                <div class="content-group-item">
                  <small>Follow on Twitter</small>
                  <p>Backup your seed phrase</p>
                  <span><img src="/assets/logo-no-bg.png" alt="">0.1 DMH</span>
                </div>
              </div>
            </a>
            <a href="" class="list-item">
              <div class="content-group">
                <img src="/assets/icons/missions.png" alt="">
                <div class="content-group-item">
                  <small>Follow on Twitter</small>
                  <p>Backup your seed phrase</p>
                  <span><img src="/assets/logo-no-bg.png" alt="">0.1 DMH</span>
                </div>
              </div>
            </a>
            <a href="" class="list-item">
              <div class="content-group">
                <img src="/assets/icons/missions.png" alt="">
                <div class="content-group-item">
                  <small>Follow on Twitter</small>
                  <p>Backup your seed phrase</p>
                  <span><img src="/assets/logo-no-bg.png" alt="">0.1 DMH</span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="d-block card card-space-0">
          <div class="list list-fluid">
            <a href="" class="list-item">
              <div class="content-group">
                <img src="/assets/logo.png" alt="">
                <div class="content-group-item">
                  <p>Add DMH & cover gas</p>
                  <span><img src="/assets/logo-no-bg.png" alt="">1 DMH = 2000 claims</span>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>