@font-face {
  font-family: 'Inter';
  font-weight: 400;
  src: url(/fonts/Inter/Inter-Regular.ttf);
}
@font-face {
  font-family: 'Inter';
  font-weight: 500;
  src: url(/fonts/Inter/Inter-Medium.ttf);
}
@font-face {
  font-family: 'Inter';
  font-weight: 600;
  src: url(/fonts/Inter/Inter-SemiBold.ttf);
}

@font-face {
  font-family: 'Kanit';
  font-weight: 300;
  src: url(/fonts/Kanit/Kanit-Light.ttf);
}
@font-face {
  font-family: 'Kanit';
  font-weight: 500;
  src: url(/fonts/Kanit/Kanit-Medium.ttf);
}
@font-face {
  font-family: 'Kanit';
  font-weight: 600;
  src: url(/fonts/Kanit/Kanit-SemiBold.ttf);
}
@font-face {
  font-family: 'Kanit';
  font-weight: 700;
  src: url(/fonts/Kanit/Kanit-Bold.ttf);
}
