.grade {
  padding: 24px;

  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // margin-bottom: 68px;

    h1 {
      font-size: 34px;
      font-weight: 600;
      font-family: 'Kanit';
      margin-bottom: 0.5rem;
      color: #2c2c2c;
    }

    p {
      font-size: 15px;
      font-weight: 600;
      line-height: 19px;
      color: #727272;
      text-align: center;
    }
  }

  &-badge {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px;
    border-radius: 40px;
    text-decoration: none;

    &-lv1 {
      background-color: #D4E9EE;
      border: 2px solid #F5F9FA;
      box-shadow: 0 1px 0 0 rgba(#7EA0A8, 80%);

      p {
        color: #687681;
      }
    }

    &-lv2 {
      // ...
    }

    p {
      font-weight: 600;
      font-size: 15px;
      line-height: 19px;
    }

    img {
      width: 19px;
      margin-right: 0.25rem;
    }
  }

  &-nav {
    padding: 50px 24px 0;
    margin: 0 -24px;
    overflow: hidden;
    display: flex;
    justify-content: center;

    .slick-list {
      overflow: visible;
      width: 78%;
    }

    .slick-current .grade-nav-item {
      transform: translateY(-50px);
      filter: none;

      .aura {
        transform: translateY(-82px);
        -webkit-animation: rotating 5s linear infinite;
        -moz-animation: rotating 5s linear infinite;
        -ms-animation: rotating 5s linear infinite;
        -o-animation: rotating 5s linear infinite;
        animation: rotating 5s linear infinite;
      }
    }

    &-item {
      display: flex !important;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      transform: translateY(20px) scale(0.6);
      filter: grayscale(1);
      transition: .3s all;

      .logo {
        position: absolute;
        width: 160px;
        top: 13.5%;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
      }

      .aura {
        width: 280px;
        z-index: -1;
      }
    }
  }

  h2 {
    font-size: 24px;
    font-weight: 600;
    font-family: 'Kanit';
    margin-bottom: 16px;
  }

  &-achievement {
    &-item {
      display: flex;
      align-items: flex-end;
      margin-bottom: 16px;

      .thumbnail {
        padding: 25px 12px;
        border-radius: 8px;
        margin-right: 12px;
        border: 1px solid #727272;
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 58px;
        }

        &.type {
          &-1 {
            background-color: #FDBF1E;
          }

          &-2 {
            background-color: #FCE923;
          }

          &-3 {
            background-color: #FD84E3;
          }

          &-4 {
            background-color: #F35862;
          }
        }
      }

      h3 {
        font-size: 1rem;
        font-weight: 500;
        font-family: 'Kanit';
      }
    }
  }


  .stage {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
    width: 100%;
    position: relative;

    &::before {
      content: '';
      width: 120%;
      height: 20%;
      background-color: #8FD7EE;
      border: 2px solid #5CC5E6;
      position: absolute;
      z-index: -1;
      bottom: 35%;
      right: 8px;
    }

    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
      background: url(/assets/imgs/grade/pentagon-bg.png);
      background-size: cover;
      width: calc((100% - 12px * 3)/4); //12px is spacing
      height: 0;
      position: relative;
      vertical-align: middle;
      padding-bottom: calc((100% - 12px * 3)/4);

      &:last-child {
        margin-right: 0;
      }

      p {
        text-align: center;
        font-size: 1rem;
        font-weight: 600;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        vertical-align: middle;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      img {
        width: 20px;
        text-align: center;
        font-size: 1rem;
        font-weight: 600;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        vertical-align: middle;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

@-webkit-keyframes rotating

/* Safari and Chrome */
  {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.rotating {
  -webkit-animation: rotating 5s linear infinite;
  -moz-animation: rotating 5s linear infinite;
  -ms-animation: rotating 5s linear infinite;
  -o-animation: rotating 5s linear infinite;
  animation: rotating 5s linear infinite;
}