.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background: rgba(#000, 50%);
  z-index: 99;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &-indicator {
    background-color: #B4E4F4;
    position: absolute;
    width: 2.5rem;
    height: 0.25rem;
    border-radius: 0.125rem;
    top: -12px;
    left: 0;
    right: 0;
    margin: auto;
  }

  &-container {
    position: relative;
    background-color: #EBEEF5;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding: 2.25rem 1.5rem 2.25rem;
    max-height: 570px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-thumb {
    width: 120px;
    margin-bottom: 1.5rem;
  }

  &-content {
    margin-bottom: 1.5rem;
    width: 100%;

    * {
      text-align: center;
    }

    h1 {
      font-family: 'Kanit';
      font-weight: 600;
      font-size: 2.25rem;
      color: #2c2c2c;
    }

    p {
      font-size: 0.875rem;
      font-weight: 500;
      color: #727272;
    }

    ul {
      width: 100%;
      margin: 24px 0 0;
      padding: 0;

    li {
      margin-bottom: 8px;
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;

      &:last-child {
        margin-bottom: 0;
      }

      * {
        font-size: 14px;
      }

      p {
        color: #636467;
      }

      span {
        color: #2c2c2c;
        font-weight: 500;
      }
    }
    }
  }

  &-promo {
    background: url(/assets/imgs/popup-promo.png);
    background-size: cover;
    padding: 3rem 1.5rem 2.25rem;

    img {
      width: 132px;
    }

    h1 {
      background: -webkit-linear-gradient(#fff, #D7DDE1, #93989D);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    p {
      color: #fff;
    }
  }

  .btn {
    position: static !important;
    width: 100% !important;
  }

  &-credentials {
    h1, p {
      color: #DA3C45 !important;
    }
    h1 {
      font-size: 24px;
      font-weight: 500;
    }
    p {
      font-size: 13px;
      font-weight: 600;
    }
  }

  &-qr {
    display: flex;
    flex-direction: column;
    align-items: center;

    .popup-thumb {
      width: 200px;
    }
    
    p {
      font-size: 15px;
      color: #2c2c2c;
      font-weight: 600;
    }

    span {
      font-size: 12px;
      color: #727272;
    }

    .popup-content {
      margin: 0;
      * {
        text-align: left;
      }
    }

    .btn {
      width: 30% !important;
    }
  }

  &-grade {
    display: flex;
    flex-direction: column;
    align-items: center;
    .stage-item {
      margin-bottom: 16px;
      margin-right: 0;
      p {
        font-size: 24px;
      }
      img {
        width: 30px;
      }
    }
    .popup-content {
      h1 {
        margin: 0;
      }
      p {
        font-weight: 600;
        color: #2c2c2c;
      }
    }
  }

  &-apps {
    h1 {
      font-size: 24px;
      margin-bottom: 24px;
    }
  }
}