*,
p {
  font-family: 'Inter';
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: #2C2C2C;
}

body {
  background-color: #EBEEF5;
}

.scrollable {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  margin: 0 -24px;
  padding: 24px;
  width: 100%;
}

.warning {
  color: #DB7F13;
  border: 1px solid #DB7F13;
  background-color: #F5E6D4;
  padding: 12px;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  display: block;
  border-radius: 8px;
  margin-top: 24px;
  font-family: 'Inter';
}