<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Foundation for Sites</title>
  <link rel="stylesheet" href="/css/app.css">
  <script type="module" src="/js/tab.js"></script>
  <script type="text/javascript">
    // First we get the viewport height and we multiple it by 1% to get a value for a vh unit
    let vh = window.innerHeight * 0.01;
    // Then we set the value in the --vh custom property to the root of the document
    document.documentElement.style.setProperty('--vh', `${vh}px`);

    // We listen to the resize event
    window.addEventListener('resize', () => {
      // We execute the same script as before
      let vh = window.innerHeight * 0.01;
      document.documentElement.style.setProperty('--vh', `${vh}px`);
    });
  </script>
</head>

<body class="account">

  <span class="toast">
    Private key has been copied
  </span>

  <div class="popup">
    <div class="popup-container popup-credentials">
      <span class="popup-indicator"></span>
      <div class="popup-content">
        <h1>Be careful! PLEASE</h1>
        <p>Never share your seed phrase or private key with anyone (members of the Diamon wallet team will never ask for it.). Avoid using them in unofficial wallets or bots. or risk losing full access.</p>
      </div>
      <a href="" class="btn btn-disable btn-flat" id="btn-confirm">Got it (3)</a>
    </div>
  </div>

  <form action="" class="form">
    <h1 class="title">Credentials</h1>
    <div class="warning">
      <img src="/assets/icons/material-symbols/error.svg" alt="">
      <p>Do not share your passphrase or private key with anyone, even with us!</p>
    </div>
    <div class="form-group">
      <h2>Private key <a href=""><img src="/assets/icons/material-symbols/content_copy.svg" alt=""></a></h2>
      <div class="form-input pt-2 w-100 mt-2">
        <textarea name="" id="" rows="2">table monkey key new pink mouse book store desk clock blue hand</textarea>
      </div>
    </div>
    <div class="form-group">
      <h2>Seed phrase <a href=""><img src="/assets/icons/material-symbols/content_copy.svg" alt=""></a></h2>
      <p>Write down your seed phrase so you don’t lose access to your wallet. It is very important!</p>
      <div class="form-input pt-2 w-75 mt-2">
        <textarea name="" id="" rows="3">table monkey key new pink mouse book store desk clock blue hand</textarea>
      </div>
    </div>
  </form>
  <a href="/views/account/loading.html" class="btn">Create</a>
</body>

</html>