<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Foundation for Sites</title>
  <link rel="stylesheet" href="/css/app.css">
  <script type="module" src="/js/tab.js"></script>
  <script type="text/javascript">
    // First we get the viewport height and we multiple it by 1% to get a value for a vh unit
    let vh = window.innerHeight * 0.01;
    // Then we set the value in the --vh custom property to the root of the document
    document.documentElement.style.setProperty('--vh', `${vh}px`);

    // We listen to the resize event
    window.addEventListener('resize', () => {
      // We execute the same script as before
      let vh = window.innerHeight * 0.01;
      document.documentElement.style.setProperty('--vh', `${vh}px`);
    });
  </script>
</head>

<body class="account">
  <a href="" class="account-link">Login</a>
  <div class="account-intro">
    <img src="/assets/logo.png" alt="">
    <div class="d-flex flex-column justify-content-center">
      <h1>Diamon Hand</h1>
      <p>Next generation Telegram wallet.<br>
        Secure, Fast and over the<br>
        Diamon Hand Blockchain</p>
    </div>
  </div>
  <a href="/views/account/create.html" class="btn">Create new account</a>
</body>

</html>