<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Foundation for Sites</title>
  <link rel="stylesheet" href="/css/app.css">
  <script type="module" src="/js/tab.js"></script>
</head>

<body class="account">
  <a href="" class="account-link">Login</a>
  <div class="account-intro">
    <img src="/assets/logo.png" alt="">
    <div class="d-flex flex-column justify-content-center">
      <h1>Diamon Hand</h1>
      <p>Next generation Telegram wallet.<br>
        Secure, Fast and over the<br>
        Diamon Hand Blockchain</p>
    </div>
  </div>
  <a href="/views/account/create.html" class="btn">Create new account</a>
</body>

</html>