<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Foundation for Sites</title>
  <link rel="stylesheet" href="/css/app.css">
  <script type="module" src="/js/tab.js"></script>
</head>

<body class="account">
  <form action="" class="form">
    <h1 class="title">Select account
      to log in</h1>
    <div class="form-group">
      <p>You have few activated account for this
        credentials.</p>
      <div class="account-list list">
        <div class="account-item list-item">
          <div class="content-group">
            <img src="/assets/imgs/avatar.webp" alt="">
            <div class="content-group-item">
              <p>MR Daily</p>
              <span>0.00 DIAMON HAND | 0.01 DMH</span>
            </div>
          </div>
          <span class="check">
            <img src="/assets/icons/check-mark.png" alt="">
          </span>
        </div>
      </div>
    </div>
  </form>
  <a href="/" class="btn">Select account</a>
</body>

</html>