<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Foundation for Sites</title>
  <link rel="stylesheet" href="/css/app.css">
  <script type="module" src="/js/tab.js"></script>
</head>

<body class="account">
  <form action="" class="form">
    <h1 class="title">Recover using
      Seed Phrase</h1>
    <div class="form-group">
      <p>Enter the backup passphrase associated with the account.</p>
      <div class="form-input">
        <label for="">Seed or private key</label>
        <textarea name="" id="" rows="3"></textarea>
      </div>
    </div>
  </form>
  <a href="/views/account/login.html" class="btn">Continue</a>
</body>

</html>