<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Foundation for Sites</title>
  <link rel="stylesheet" href="/css/app.css">

  <script type="text/javascript">
    // First we get the viewport height and we multiple it by 1% to get a value for a vh unit
    let vh = window.innerHeight * 0.01;
    // Then we set the value in the --vh custom property to the root of the document
    document.documentElement.style.setProperty('--vh', `${vh}px`);

    // We listen to the resize event
    window.addEventListener('resize', () => {
      // We execute the same script as before
      let vh = window.innerHeight * 0.01;
      document.documentElement.style.setProperty('--vh', `${vh}px`);
    });
  </script>
</head>

<body class="home swap">

  <!-- <div class="popup">
    <div class="popup-container">
      <span class="popup-indicator"></span>
      <a href="" class="card swap-currency">
        <div class="left">
          <img src="/assets/imgs/usmeme.png" alt="">
          <img class="sub-icon" src="/assets/logo-no-bg.png" alt="">
          <div class="swap-currency-text d-flex flex-column">
            <p>USMeme</p>
            <div class="d-flex">
              <span>~0</span>
              <b>$0</b>
            </div>
          </div>
        </div>
        <div class="right">
          <div class="swap-currency-text d-flex flex-column">
            <p>$0</p>
            <div class="d-flex">
              <span>$0</span>
              <b>0%</b>
            </div>
          </div>
        </div>
      </a>
      <a href="" class="card swap-currency">
        <div class="left">
          <img src="/assets/imgs/usmeme.png" alt="">
          <img class="sub-icon" src="/assets/logo-no-bg.png" alt="">
          <div class="swap-currency-text d-flex flex-column">
            <p>USMeme</p>
            <div class="d-flex">
              <span>~0</span>
              <b>$0</b>
            </div>
          </div>
        </div>
        <div class="right">
          <div class="swap-currency-text d-flex flex-column">
            <p>$0</p>
            <div class="d-flex">
              <span>$0</span>
              <b>0%</b>
            </div>
          </div>
        </div>
      </a>
      <a href="" class="card swap-currency">
        <div class="left">
          <img src="/assets/imgs/usmeme.png" alt="">
          <img class="sub-icon" src="/assets/logo-no-bg.png" alt="">
          <div class="swap-currency-text d-flex flex-column">
            <p>USMeme</p>
            <div class="d-flex">
              <span>~0</span>
              <b>$0</b>
            </div>
          </div>
        </div>
        <div class="right">
          <div class="swap-currency-text d-flex flex-column">
            <p>$0</p>
            <div class="d-flex">
              <span>$0</span>
              <b>0%</b>
            </div>
          </div>
        </div>
      </a>
      <a href="" class="card swap-currency">
        <div class="left">
          <img src="/assets/imgs/usmeme.png" alt="">
          <img class="sub-icon" src="/assets/logo-no-bg.png" alt="">
          <div class="swap-currency-text d-flex flex-column">
            <p>USMeme</p>
            <div class="d-flex">
              <span>~0</span>
              <b>$0</b>
            </div>
          </div>
        </div>
        <div class="right">
          <div class="swap-currency-text d-flex flex-column">
            <p>$0</p>
            <div class="d-flex">
              <span>$0</span>
              <b>0%</b>
            </div>
          </div>
        </div>
      </a>
      <a href="" class="card swap-currency">
        <div class="left">
          <img src="/assets/imgs/usmeme.png" alt="">
          <img class="sub-icon" src="/assets/logo-no-bg.png" alt="">
          <div class="swap-currency-text d-flex flex-column">
            <p>USMeme</p>
            <div class="d-flex">
              <span>~0</span>
              <b>$0</b>
            </div>
          </div>
        </div>
        <div class="right">
          <div class="swap-currency-text d-flex flex-column">
            <p>$0</p>
            <div class="d-flex">
              <span>$0</span>
              <b>0%</b>
            </div>
          </div>
        </div>
      </a>
      <a href="" class="card swap-currency">
        <div class="left">
          <img src="/assets/imgs/usmeme.png" alt="">
          <img class="sub-icon" src="/assets/logo-no-bg.png" alt="">
          <div class="swap-currency-text d-flex flex-column">
            <p>USMeme</p>
            <div class="d-flex">
              <span>~0</span>
              <b>$0</b>
            </div>
          </div>
        </div>
        <div class="right">
          <div class="swap-currency-text d-flex flex-column">
            <p>$0</p>
            <div class="d-flex">
              <span>$0</span>
              <b>0%</b>
            </div>
          </div>
        </div>
      </a>
      <a href="" class="card swap-currency">
        <div class="left">
          <img src="/assets/imgs/usmeme.png" alt="">
          <img class="sub-icon" src="/assets/logo-no-bg.png" alt="">
          <div class="swap-currency-text d-flex flex-column">
            <p>USMeme</p>
            <div class="d-flex">
              <span>~0</span>
              <b>$0</b>
            </div>
          </div>
        </div>
        <div class="right">
          <div class="swap-currency-text d-flex flex-column">
            <p>$0</p>
            <div class="d-flex">
              <span>$0</span>
              <b>0%</b>
            </div>
          </div>
        </div>
      </a>
      <a href="" class="card swap-currency">
        <div class="left">
          <img src="/assets/imgs/usmeme.png" alt="">
          <img class="sub-icon" src="/assets/logo-no-bg.png" alt="">
          <div class="swap-currency-text d-flex flex-column">
            <p>USMeme</p>
            <div class="d-flex">
              <span>~0</span>
              <b>$0</b>
            </div>
          </div>
        </div>
        <div class="right">
          <div class="swap-currency-text d-flex flex-column">
            <p>$0</p>
            <div class="d-flex">
              <span>$0</span>
              <b>0%</b>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div> -->

  <a href="" class="card swap-currency">
    <div class="left">
      <img src="/assets/logo-no-bg.png" alt="">
      <div class="swap-currency-text d-flex flex-column">
        <span>From</span>
        <p>DMH</p>
      </div>
    </div>
    <div class="arrow">
      <img src="/assets/icons/material-symbols/arrow_right_alt.svg" alt="">
    </div>
    <div class="right">
      <div class="swap-currency-text d-flex flex-column">
        <span>To</span>
        <p>USDT</p>
      </div>
      <img src="/assets/logo-no-bg.png" alt="">
    </div>
  </a>
  <div class="swap-input">
    <input type="text" value="0">
    <small>0 DMH Available</small>
    <div class="swap-input-tag">
      <a href="">USD</a>
      <a href="">MAX</a>
    </div>
  </div>
  <div class="swap-information">
    <div class="swap-information-item">
      <p>You need to keep 0.2 DMH on your balance</p>
      <img src="/assets/icons/material-symbols/info.svg" alt="">
    </div>
    <div class="swap-information-item">
      <p>Est.Recieve</p>
      <p>0 USDT (0$)</p>
    </div>
    <div class="swap-information-item">
      <p>Price</p>
      <p>1 DMH = 6.82 USDT</p>
    </div>
    <div class="swap-information-item">
      <p>Price impact</p>
      <span>0 DMH</span>
    </div>

    <button class="btn btn-flat btn-lg">Review</button>
  </div>
</body>

</html>