<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Foundation for Sites</title>
  <link rel="stylesheet" href="/css/app.css">

  <script type="text/javascript">
    // First we get the viewport height and we multiple it by 1% to get a value for a vh unit
    let vh = window.innerHeight * 0.01;
    // Then we set the value in the --vh custom property to the root of the document
    document.documentElement.style.setProperty('--vh', `${vh}px`);

    // We listen to the resize event
    window.addEventListener('resize', () => {
      // We execute the same script as before
      let vh = window.innerHeight * 0.01;
      document.documentElement.style.setProperty('--vh', `${vh}px`);
    });
  </script>
</head>

<body class="home transfer">

  <form action="" class="form">
    <div class="form-group">
      <!-- <h2>Address</h2>
      <p>We have created a unique Diamon Hand address for you, which is similar to your telegram nickname.</p> -->
      <div class="form-input">
        <label for="">Enter receiver</label>
        <input type="text" value=" ">
      </div>
    </div>
    <button class="btn btn-flat btn-lg btn-disable">Next</button>
  </form>
</body>

</html>