.friends {
  padding: 2.5rem 1.5rem 1.5rem;

  &-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;

    img {
      width: 80px;
      margin-bottom: 1rem;
    }

    h1 {
      font-size: 1.5rem;
      font-weight: 600;
      font-family: 'Kanit';
      margin-bottom: 0.5rem;
      color: #2c2c2c;
    }

    span {
      font-size: 1rem;
      font-weight: 500;
      font-family: 'Kanit';
      color: #2c2c2c;
      display: flex;
      align-items: center;
      margin-bottom: 0.5rem;

      img {
        width: 1.375rem !important;
        margin-right: 0.5rem;
        margin-bottom: 0;
      }
    }

    p {
      font-size: 0.875rem;
      font-weight: 500;
      color: #727272;
      text-align: center;
    }

    a {
      color: #0CA9DA;
      font-weight: 600;
      font-size: 0.875rem;
      text-decoration: none;
      margin-top: 1rem;
    }
  }

  &-list {
    margin-top: 0.75rem;
    margin-bottom: 74px;
    display: flex;
    flex-direction: column;

    .content-group {
      justify-content: space-between;
    }

    h1 {
      font-size: 1.5rem;
      font-weight: 600;
      font-family: 'Kanit';
      margin-bottom: 1rem;
      color: #2c2c2c;
    }

    p {
      font-size: 0.875rem !important;
    }

    img {
      border-radius: 0.5rem;
    }

    span {
      font-weight: 600;
      font-size: 1rem;
      color: #2c2c2c !important;
    }

    .remind {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      font-family: 'Inter';
      font-size: 0.625rem;
      font-weight: 500;
      color: #0CA9DA !important;
      text-decoration: underline;

      img {
        width: 1.75rem;
        margin-bottom: 0.25rem;
      }
    }
  }

  &-invite {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem;
    background: linear-gradient(to bottom, rgba(#D3EBF6, 0), rgba(#D3EBF6, 1));
    z-index: 99;
  }
}