.mine {
  background-image: url(/assets/imgs/mine-bg.jpg);
  background-size: 100vw auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  justify-content: center;

  .scrollable {
    padding: 40px 24px;
  }

  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;

    img {
      width: 80px;
      margin-bottom: 1rem;
    }

    h1 {
      font-size: 1.5rem;
      font-weight: 600;
      font-family: 'Kanit';
      margin-bottom: 0.5rem;
      color: #2c2c2c;
    }

    p {
      font-size: 0.875rem;
      font-weight: 500;
      color: #727272;
      text-align: center;
    }

    a {
      color: #0158F7;
      font-weight: 600;
      font-size: 0.875rem;
      text-decoration: none;
      margin-top: 1rem;
    }
  }

  .list {
    padding: 16px;

    &-item {
      padding: 0;
      margin-bottom: 16px;

      &:last-child {
        margin-bottom: 0;
      }

      p {
        margin-bottom: 2px;
      }

      span {
        font-weight: 500;
        font-family: 'Inter';
        line-height: 15px;
      }
    }
  }

  &-detail {
    background-image: url(/assets/imgs/detail-bg.jpg);
    background-size: 100vw auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    display: flex;
    justify-content: center;

    .scrollable {
      padding: 24px;
    }

    &-avatar {
      padding: 16px;
      background: linear-gradient(320deg, #A0C7E9, #E3E3E7);
      box-shadow: 0 4px #2c2c2c;
      border: 1px solid #2c2c2c;
      border-radius: 50%;
      margin-bottom: 24px;

      img {
        width: 80px;
      }
    }

    &-name {
      display: flex;
      flex-direction: column;
      align-items: center;

      h1 {
        font-size: 20px;
        font-weight: 500;
        font-family: 'Kanit';
        margin: 0;
      }

      span,
      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #2c2c2c;

        img {
          width: 20px;
        }
      }

      span {
        margin: 0 8px;
        font-weight: 500;
        font-size: 16px;

        img {
          margin-right: 4px;
        }
      }

      a {
        margin: 0 4px;
        font-weight: 600;
        font-size: 12px;
        padding: 6px 8px;
        border: 1px solid #2c2c2c;
        border-radius: 8px;

        &.highlight {
          border-color: #0CA9DA;
          background: #DEE5F2;
        }

        img {
          margin-left: 2px;
        }
      }
    }

    &-features {
      width: 100%;
      margin-bottom: 24px;

      .top {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        max-height: 125px;
        margin-top: 60px;
        position: relative;

        &:first-child {
          margin-right: 16px;

          img {
            width: 100px;
          }
        }

        .guide {
          width: 16px;
          position: absolute;
          top: 8px;
          right: 8px;
        }

        *:not(img) {
          width: 100%;
          font-size: 14px;
        }

        img {
          width: 80px;
          -webkit-filter: drop-shadow(0 7px 17px rgba(#000, 35%));
          filter: drop-shadow(0 7px 17px rgba(#000, 35%));
        }

        p {
          font-weight: 600;
          color: #2c2c2c;
        }

        span {
          color: #727272;
          display: flex;
          align-items: center;

          img {
            width: 14px !important;
            margin-left: 8px;
            filter: none;
          }
        }
      }

      .address {
        margin: 12px 0;
        justify-content: space-between;

        * {
          font-size: 14px;
          font-weight: 600;
        }

        p {
          color: #2c2c2c;
        }

        span {
          display: flex;
          align-items: center;
          color: #727272;

          img {
            margin-left: 8px;
          }
        }
      }

      .nav {
        padding: 16px 0;

        &-item {
          width: calc((100% - 3px) / 4);
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 0 16px;
          border-right: 1px solid rgba(#000, 0.08);
          color: #727272;
          font-size: 12px;
          text-decoration: none;

          &:last-child {
            border: none;
          }

          img {
            width: 24px;
            margin-bottom: 2px;
          }
        }
      }
    }

    .arrow {
      img {
        width: 30px;
      }
    }
  }
}

.leaderboard {
  &-nav {
    margin-bottom: 40px;
    position: relative;
    width: 100%;
    display: flex;

    .slick {
      &-arrow {
        position: absolute;
        top: calc(40% - 8px);
        z-index: 10;
        background: none;
        border: none;
        color: transparent;
        width: 16px;
        height: 16px;

        &::after {
          position: absolute;
          top: calc(40% - 8px);
          transform: translateX(-8px);
        }
      }

      &-prev {
        left: 0;

        &::after {
          content: url(/assets/icons/material-symbols/arrow_backward_ios.svg);
        }
      }

      &-next {
        right: 0;

        &::after {
          content: url(/assets/icons/material-symbols/arrow_forward_ios.svg);
        }
      }

      &-disabled {
        display: none !important;
      }
    }

    &-item {
      display: flex !important;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;

      img {
        width: 200px;
        margin-bottom: 24px;
      }

      h1 {
        font-size: 34px;
        font-weight: 600;
        font-family: 'Kanit';
        line-height: 31px;
        margin-bottom: 0;
        margin-right: 12px;
      }

      span {
        display: flex;
        align-items: center;

        img {
          width: 24px;
          margin-right: 4px;
          margin-bottom: 0;
        }
      }
    }
  }

  &-content {
    width: 100%;

    .list {
      padding: 4px 16px;

      .content-group {

        .rank {
          width: 24px;
          margin-right: 8px;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            width: 100%;
            margin-right: 0;
          }

          span {
            font-size: 1rem;
            font-family: 'Kanit';
            font-weight: 600;
            color: #2c2c2c;
          }
        }

        img {
          width: 48px;
        }

        span {
          img {
            margin-right: 4px;
            width: 20px;
          }
        }
      }

      &-item {
        margin: 0;
        padding: 12px 0;

        &:last-child::before {
          display: none !important;
        }

        &::before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: rgba(#000, 0.08);
          display: block !important;
        }
      }
    }
  }
}

.activity {
  background-image: url(/assets/imgs/mine-bg.jpg);
  background-size: 100vw auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  justify-content: center;
  &-boost {
    .form {
      display: flex;
      flex-direction: column;
      align-items: center;
      h1 {
        font-size: 34px;
        text-align: center;
        color: #2c2c2c;
        margin-bottom: 8px;
      }
      p {
        color: #2c2c2c;
        text-align: center;
        font-weight: 400;
        margin-bottom: 24px;
        b {
          font-weight: 600;
        }
      }
      img {
        width: 160px;
        -webkit-filter: drop-shadow(0 20px 36px rgba(#00D1FF, 25%));
        filter: drop-shadow(0 20px 36px rgba(#00D1FF, 25%));
        margin-bottom: 24px;
      }
    }
  }

  &-score {
    margin-bottom: 24px;
    width: 100%;
    &-info {
      a {
        padding: 6px 8px;
        background: rgba(#fff, 70%);
        font-size: 12px;
        font-weight: 600;
        color: #565656;
        text-decoration: none;
        border-radius: 8px;
        margin-bottom: 16px;
        display: inline-flex;
        align-items: center;
        img {
          margin-left: 4px;
        }
      }
      h1 {
        font-size: 90px;
        font-weight: 700;
        font-family: 'Kanit';
        color: #0CA9DA;
        line-height: 75px;
        -webkit-text-stroke: 2px #2c2c2c;
        text-shadow: 0px 3px #2c2c2c;
        margin-bottom: 12px;
      }
      span {
        font-size: 14px;
        font-weight: 500;
        color: #727272;
        line-height: 19px;
      }
    }
  }

  &-section {
    width: 100%;
    margin-top: 24px;
    p {
      font-size: 14px;
      font-weight: 600;
      color: #565656;
      margin-bottom: 16px;
    }
  }

  &-streak {
    width: 100%;
    
    .weekdays {
      display: flex;
      align-items: center;
      margin-bottom: 24px;

      &-item {
        width: calc(100% / 7);
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
          margin-bottom: 6px;
          font-size: 12px;
          color: #727272;
        }

      }
    }
    .chart {
      padding: 0 10px 0 16px;
      position: relative;
      &-indicator {
        position: absolute;
        left: 0;
        bottom: 40%;
        width: 103%;
        display: flex;
        justify-content: flex-end;
        border-top: 1px dashed #2c2c2c;
        height: 1px;
        span {
          background: #5CC5E6;
          height: 32px;
          width: 48px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 16px;
          border: 1px solid #000;
          font-weight: 600;
          margin-top: -16px;
        }
      }
      canvas {
        width: 100% !important;
        height: 200px !important;
        margin-right: -6px;
      }
    }
  }

  &-overview {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .card {
      width: calc((100% - 12px) / 2);
      align-items: flex-start;
      margin-bottom: 12px;
      &:nth-child(odd) {
        margin-right: 12px;
      }
      img {
        width: 20px;
        height: auto;
        margin-right: 8px;
      }
      h2 {
        font-family: 'Kanit';
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        color: #2c2c2c;
        margin: 0;
      }
      span {
        font-size: 12px;
        color: #727272;
      }
    }
  }
}