.mine {
  background-image: url(/assets/imgs/mine-bg.jpg);
  background-size: 100vw auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  justify-content: center;
  .scrollable {
    padding: 40px 24px;
  }

  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;

    img {
      width: 80px;
      margin-bottom: 1rem;
    }

    h1 {
      font-size: 1.5rem;
      font-weight: 600;
      font-family: 'Kanit';
      margin-bottom: 0.5rem;
      color: #2c2c2c;
    }

    p {
      font-size: 0.875rem;
      font-weight: 500;
      color: #727272;
      text-align: center;
    }

    a {
      color: #0158F7;
      font-weight: 600;
      font-size: 0.875rem;
      text-decoration: none;
      margin-top: 1rem;
    }
  }

  .list {
    padding: 16px;

    &-item {
      padding: 0;
      margin-bottom: 16px;

      &:last-child {
        margin-bottom: 0;
      }

      p {
        margin-bottom: 2px;
      }

      span {
        font-weight: 500;
        font-family: 'Inter';
        line-height: 15px;
      }
    }
  }
}

.leaderboard {
  &-nav {
    margin-bottom: 40px;
    position: relative;
    width: 100%;

    .slick {
      &-arrow {
        position: absolute;
        top: calc(40% - 8px);
        z-index: 10;
        background: none;
        border: none;
        color: transparent;
        width: 16px;
        height: 16px;
        &::after {
          position: absolute;
          top: calc(40% - 8px);
          transform: translateX(-8px);
        }
      }
      &-prev {
        left: 0;
        &::after {
          content: url(/assets/icons/material-symbols/arrow_backward_ios.svg);
        }
      }
      &-next {
        right: 0;
        &::after {
          content: url(/assets/icons/material-symbols/arrow_forward_ios.svg);
        }
      }
      &-disabled {
        display: none !important;
      }
    }

    &-item {
      display: flex !important;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;

      img {
        width: 200px;
        margin-bottom: 24px;
      }

      h1 {
        font-size: 34px;
        font-weight: 600;
        font-family: 'Kanit';
        line-height: 31px;
        margin-bottom: 0;
        margin-right: 12px;
      }

      span {
        display: flex;
        align-items: center;

        img {
          width: 24px;
          margin-right: 4px;
          margin-bottom: 0;
        }
      }
    }
  }

  &-content {
    width: 100%;
    .list {
      padding: 4px 16px;
      .content-group {

        .rank {
          width: 24px;
          margin-right: 8px;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            width: 100%;
            margin-right: 0;
          }

          span {
            font-size: 1rem;
            font-family: 'Kanit';
            font-weight: 600;
            color: #2c2c2c;
          }
        }

        img {
          width: 48px;
        }

        span {
          img {
            margin-right: 4px;
            width: 20px;
          }
        }
      }

      &-item {
        margin: 0;
        padding: 12px 0;
        &:last-child::before {
          display: none !important;
        }
        &::before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: rgba(#000, 0.08);
          display: block !important;
        }
      }
    }
  }
}